<footer class="footer" id="contact">
  <nav>
    <ul class="footer-nav nav-links">
      {% include nav-links.html %}
    </ul>
  </nav>
  <br />
  <br />
  <h2>
    Jeffrey <span>B.</span> Henry<br />
    Vicksburg, Mississippi<br />
    <a href="mailto:beauregard.henry@gmail.com">beauregard.henry@gmail.com</a>
    <br />
    601.946.6968
  </h2>

  <script
    defer
    src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"token": "786182ca125c4c53bb2946c6a66ec8ca"}'
    type="text/javascript"
  ></script>
</footer>
